*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{

background:#0f172a;
color:white;

}

header{

background:#111827;
position:fixed;
width:100%;
top:0;

}

nav{

display:flex;
justify-content:space-between;
padding:20px 60px;

}

nav ul{

display:flex;
gap:30px;
list-style:none;

}

nav a{

color:white;
text-decoration:none;

}

.hero{

display:flex;
justify-content:space-around;
align-items:center;

min-height:100vh;

padding:100px;

}

.about span,.hero span{

color:#38bdf8;

}

.hero button{

padding:15px 30px;

background:#38bdf8;

border:none;

margin-top:20px;

cursor:pointer;

}

.hero img{

width:300px;

border-radius:50%;

}

section{

padding:100px 80px;

}

h2{

text-align:center;

margin-bottom:40px;


}
.about{
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));

gap:1px;
margin-left:100px;



}
.education{


grid-template-columns:repeat(auto-fit,minmax(150px,1fr));

gap:1px;
margin-left:100px;

    
}

.skills{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(150px,1fr));

gap:20px;

}

.card{

background:#1e293b;

padding:30px;

text-align:center;

border-radius:10px;

transition:.4s;

}

.card:hover{

background:#38bdf8;

transform:translateY(-10px);

}

#projectContainer{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

gap:20px;

}

.project{

background:#1e293b;

padding:20px;

border-radius:10px;

}

form{

display:flex;

flex-direction:column;

max-width:500px;

margin:auto;

}

input,textarea{

padding:15px;

margin:10px 0;

}

button{

padding:15px;

background:#38bdf8;

border:none;

cursor:pointer;

}

footer{

text-align:center;

padding:30px;

background:#111827;

}